<!-- Mat tab component added -->
<mat-tab-group headerPosition="above">
  <mat-tab label="Summary">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="openState = true"
        (closed)="openState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Summary Table</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Summary Table data</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="openState = true"
        (closed)="openState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Pressure and Temperature table</mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef>Symbol</th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="Components">
    <p>Components are in prograss</p>
  </mat-tab>
  <mat-tab label="Valves">
    <p>Valves are inprograss</p>
  </mat-tab>
</mat-tab-group>
